@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

button {
    border: none;
}

.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0062be;
    transition: 0.5s;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    position: relative;
    max-width: 80px;
}

.header__menu {
    position: relative;
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__link {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textBox {
    position: relative;
    max-width: 600px;
}

.textBox__title {
    color: #ffffff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.textBox__title span {
    font-size: 2em;
}

.textBox__p {
    color: #ffffff;
}

.textBox__link {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #ffffff;
    color: #111111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.imgBox {
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}

.imgBox__img {
    max-width: 260px;
}

.list-picture {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.list-picture__item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.list-picture__item:hover {
    transform: translateY(-15px);
}

.list-picture__img {
    max-width: 40px;
}

.list-social {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-social__item {
    list-style: none;
}

.list-social__link {
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(0.6);
}

@media (max-width: 991px) {
    .section {
        padding: 40px;
        padding-bottom: 140px;
    }

    .header {
        padding: 20px 40px;
    }

    .header__logo {
        position: relative;
        max-width: 60px;
    }

    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        visibility: hidden;
        opacity: 0;
    }

    .header__menu.active {
        visibility: visible;
        opacity: 1;
    }

    .menu__link {
        display: inline-block;
        color: #111111;
        font-weight: 400;
        margin-left: 0;
        text-decoration: none;
        font-size: 2em;
        margin: 10px 0;
    }

    .menu__link:hover {
        color: #ed0223;
    }

    .header__burger {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../img/icons/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer;
        margin-left: auto;
    }

    .header__burger.active {
        background: url(../img/icons/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        filter: invert(1);
    }

    .content {
        flex-direction: column;
        margin-top: 80px;
    }

    .textBox {
        position: relative;
        max-width: 100%;
        padding-right: 20px;
    }

    .textBox__title {
        color: #ffffff;
        font-size: 3em;
    }

    .textBox__link {
        font-size: 14px;
        padding: 8px 15px;
    }

    .imgBox {
        width: 100%;
        display: flex;
        padding-right: 0;
        margin-top: 50px;
        justify-content: center;
    }

    .list-picture__img {
        max-width: 30px;
    }

    .list-social {
        right: 0;
        width: 50px;
        background: rgba(0, 0, 0, 0.2);
    }
}